
export VMAIL_USER_HOME_DIR='/var/vmail'
export STORAGE_BASE_DIR='/var/vmail'
export STORAGE_MAILBOX_DIR='/var/vmail/vmail1'
export SIEVE_DIR='/var/vmail/sieve'
export BACKUP_DIR='/var/vmail/backup'
export BACKUP_SCRIPT_OPENLDAP='/var/vmail/backup/backup_openldap.sh'
export BACKUP_SCRIPT_MYSQL='/var/vmail/backup/backup_mysql.sh'
export BACKUP_SCRIPT_PGSQL='/var/vmail/backup/backup_pgsql.sh'
export BACKEND_ORIG='PGSQL'
export BACKEND='PGSQL'
export VMAIL_DB_BIND_PASSWD='sY9FC0T1WKKZpJclY8zPDqihJ2rMTS'
export VMAIL_DB_ADMIN_PASSWD='7W1TwA9CloCv7UZid17dAajH439LgF'
export LDAP_BINDPW='BZZH9RALu0RdfbrN71t9JcZ3niAP3u'
export LDAP_ADMIN_PW='S5RGPgLmrHCpaBkUPfWp2C45WOlWPT'
export PGSQL_ROOT_PASSWD='{{ lookup('password', '../../../credentials/postgresql/postgres length=15') }}'
export PGSQL_ROOT_USER='postgres'
export SQL_SERVER='127.0.0.1'
export SQL_SERVER_PORT='5432'
export FIRST_DOMAIN='crrr.org'
export DOMAIN_ADMIN_NAME='postmaster'
export SITE_ADMIN_NAME='postmaster@crrr.org'
export DOMAIN_ADMIN_PASSWD_PLAIN='{{ lookup('password', '../../../credentials/iredmail/domain_admin') }}'
export DOMAIN_ADMIN_PASSWD='{{ lookup('password', '../../../credentials/iredmail/domain_admin') }}'
export SITE_ADMIN_PASSWD='{{ lookup('password', '../../../credentials/iredmail/site_admin') }}'
export FIRST_USER='postmaster'
export FIRST_USER_PASSWD='{{ lookup('password', '../../../credentials/iredmail/first_user') }}'
export FIRST_USER_PASSWD_PLAIN='{{ lookup('password', '../../../credentials/iredmail/first_user') }}'
export ENABLE_DKIM='YES'
export USE_IREDADMIN='YES'
export USE_WEBMAIL='YES'
export USE_RCM='YES'
export REQUIRE_PHP='YES'
export USE_PHPPGADMIN='YES'
export USE_AWSTATS='YES'
#EOF
export IREDADMIN_DB_PASSWD='{{ lookup('password', '../../../credentials/iredmail/admin_db length=30') }}'
export RCM_DB_USER='roundcube'
export RCM_DB_PASSWD='{{ lookup('password', '../../../credentials/iredmail/rcm_db length=30') }}'
